body {
  background-color: rgb(235, 164, 188);
}

.dashboard {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

.modal__open {
  display: block !important;
  opacity: 1 !important;
  background-color: rgba($color: #000000, $alpha: 0.5);
  padding-top: 30px;
}

.card__body {
  background-color: rgb(223, 197, 241);
}
